body {
    background-color: rgb(0, 0, 0);
    
}

.fonte {
    font-family: 'Sedgwick Ave Display', cursive;font-family: 'Sedgwick Ave Display', cursive;
    color: red;
}

.cabecalho {
    text-align: center;
}

#imagem {
    width: 150px;
}

.texto {
    color: red;
    margin-right: 350px;
    width: 500px, 500px,500px,500px;
    height: 500px, 500px,500px,500px;
}
