body {
    background-color: black;
    margin: 25px;
}

.fonte {
    font-family: 'Sedgwick Ave Display', cursive;font-family: 'Sedgwick Ave Display', cursive;
    color: red;
}

.titulo {
    font-family: 'Rajdhani', sans-serif;
    color: red;
}

.cabecalho {
    text-align: center;
}

#imagem {
    width: 150px;
}

#imagem2 {
    width: 500px;
    margin-left: 500px;
    top: 300px;
}

.texto {
    color: red;
    margin-right: 350px;
    width: 500px, 500px,500px,500px;
    height: 500px, 500px,500px,500px;
}
