body {
    background-color: rgb(0, 0, 0);
}

.titulo {
    color: red;
    text-align: center;
    font-family: 'Sedgwick Ave Display', cursive;
}

#imagem {
    width: 150px;
}

.historia {
    margin-right: 350px;
    width: 500px, 500px,500px,500px;
    height: 500px, 500px,500px,500px;
}

.texto {
    color: red;
}